body {
    margin: 0px;
    background: white;
}

h1 {
    margin: 0px;
    padding: 30px;
    font-size: medium;
}

header {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#Introduction {
    display: block;
    text-align: center;
    margin: 0px;
    background-color: white;

}

#Star-Cars-Photo-Gallery {
    display: none;
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: grey;
    padding-top: 10px;
    padding-bottom: 10px;

}

.photo-post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background: grey;
    margin-top: 25px;
    margin-bottom: 25px;
}

.photo-overlay {
    display: flex;
    position: absolute;
    background: black;
    opacity: 0;
    z-index: 1;
    width: 25px;
    transition: opacity 2s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-overlay:hover {
    opacity: .75;
}

.photo-overlay a {
    color: aqua;
    margin: 5px;
}

.photo-overlay p {
    color: maroon;
    margin: 5px;
}

#Photo-Gallery-of-Star-Cars-button {
    
    root{
        --red: rgb(209, 3, 3);
        --white: #fff;
        --black: #000;
    }
    .btn {
        width: 200px; height: 88px;
        outline: 0;
        border: 2px solid #ccc;
        color: #000;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        display:flex;
        justify-content: space-between;
        box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
        transition: 1.5s cubic-bezier(.21,.04,.26,.99);
    }
    .btn:hover {
        box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
        border-color: var(--red);
    }
    .btn-like {
        padding: 1.5rem 1.5rem 1.5rem 6rem;
        font-size: 2rem;
        border-radius: 10px;
        background: #fff;
        transition: 1.5s cubic-bezier(.21,.04,.26,.99);
    }
    .btn-like.liked {
        background: var(--red);
        border-color: var(--red);
    }
    /*-- Button Icon -- */
    .btn-icon {
        display: inline-block;
        width: 32px;
        height: 36px;
        position: absolute;
        left: 1.5rem;
        transition: 1s cubic-bezier(.21,.04,.26,.99);
        transform: rotate(0deg)
    }
    .btn:hover .btn-icon {
        color: var(--red);
    }
    .btn.liked:hover .btn-icon {
        color: var(--black);
    }
    .liked .btn--icon-default {
        transform: rotate(-90deg)
    }
    .btn:not(.liked).btn--icon-liked {
        transform: rotate(-90deg)
    }
    .liked .btn--icon-default,
    .btn--icon-liked {
        opacity: 0;
        color: #fff;
        position: absolute;
    }
    .btn--icon-default,
    .liked .btn--icon-liked {
        opacity: 1;
        left: 1.5rem;
    }
    /*-- Button Content -- */
    .btn-content {
        transition: transform 0.1s ease;
        display: inline-block;
        /* position: absolute;
        right: 0; */
    }
    .liked .btn-content {
        color: var(--white);
    }
    .btn:hover.liked .btn-content {
        color: var(--black);
    }
    .btn:not(.liked) .btn-content--liked {
        transform: translate(110px)
    }
    .btn:not(.liked) .btn-content--default {
        transform: translate(-56px)
    }
    .liked .btn-content--default {
        transform: translate(24px)
    }

}

#Vacation-and-Models {
    display: none;
    text-align: center;
    margin: 0px;
    background-color: white;
}

#Hot-Models-Photo-Gallery{
    display: none;
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.photo-post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background: grey;
    margin-top: 25px;
    margin-bottom: 25px;
}

.photo-overlay {
    display: flex;
    position: absolute;
    background: black;
    opacity: 0;
    z-index: 1;
    width: 25px;
    transition: opacity 2s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-overlay:hover {
    opacity: .75;
}

.photo-overlay a {
    color: aqua;
    margin: 5px;
}

.photo-overlay p {
    color: maroon;
    margin: 5px;
}

#Hot-Models-Photo-Gallery-Button {
   
    root {
        --red: rgb(209, 3, 3);
        --white: #fff;
        --black: #000;
    }
    .btn {
        width: 200px; height: 88px;
        outline: 0;
        border: 2px solid #ccc;
        color: #000;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        display:flex;
        justify-content: space-between;
        box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
        transition: 1.5s cubic-bezier(.21,.04,.26,.99);
    }
    .btn:hover {
        box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
        border-color: var(--red);
    }
    .btn-like {
        padding: 1.5rem 1.5rem 1.5rem 6rem;
        font-size: 2rem;
        border-radius: 10px;
        background: #fff;
        transition: 1.5s cubic-bezier(.21,.04,.26,.99);
    }
    .btn-like.liked {
        background: var(--red);
        border-color: var(--red);
    }
    /*-- Button Icon -- */
    .btn-icon {
        display: inline-block;
        width: 32px;
        height: 36px;
        position: absolute;
        left: 1.5rem;
        transition: 1s cubic-bezier(.21,.04,.26,.99);
        transform: rotate(0deg)
    }
    .btn:hover .btn-icon {
        color: var(--red);
    }
    .btn.liked:hover .btn-icon {
        color: var(--black);
    }
    .liked .btn--icon-default {
        transform: rotate(-90deg)
    }
    .btn:not(.liked).btn--icon-liked {
        transform: rotate(-90deg)
    }
    .liked .btn--icon-default,
    .btn--icon-liked {
        opacity: 0;
        color: #fff;
        position: absolute;
    }
    .btn--icon-default,
    .liked .btn--icon-liked {
        opacity: 1;
        left: 1.5rem;
    }
    /*-- Button Content -- */
    .btn-content {
        transition: transform 0.1s ease;
        display: inline-block;
        /* position: absolute;
        right: 0; */
    }
    .liked .btn-content {
        color: var(--white);
    }
    .btn:hover.liked .btn-content {
        color: var(--black);
    }
    .btn:not(.liked) .btn-content--liked {
        transform: translate(110px)
    }
    .btn:not(.liked) .btn-content--default {
        transform: translate(-56px)
    }
    .liked .btn-content--default {
        transform: translate(24px)
    }

}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  background: #21CDB2;
}

.wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }
}

.parent {
  position: relative;
  .sub {
    transition: all 0.5s ease-in-out;
  }
  .thanks {
    font-size: 13px;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: -5px;
    left: 0;
    opacity: 0;
  }
}

.text {
  font-size: 17px;
  color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

#toggle {
  display: none;
}

.button {
  position: absolute;
  z-index: 999;
  width: 28px;
  height: 28px;
  background: #F9F9F9;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:before {
    position: absolute;
    top: 13px;
    left: 6px;
    content: '';
    width: 16px;
    height: 2px;
    background: #21CDB2;
    transform: rotate(90deg);
  }
  &:after {
    position: absolute;
    top: 13px;
    left: 6px;
    content: '';
    width: 16px;
    height: 2px;
    background: #21CDB2;
  }
}

#toggle:checked ~ .nav {
  opacity: 1;
  transform: translateY(10%);
}

#toggle:checked ~ .button {
  transform: rotate(135deg);
  box-shadow: 0 0 0 0 transparent;
  border-radius: 100%;
}

#toggle:checked ~ .subbed {
  opacity: 1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    background: rgb(61, 180, 91);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}

footer p {
    padding: 5px;
    margin: 8px;
}

footer img {
    width: 100px;
}