body {
    margin: 0px;
    background: white;
}

h1 {
    margin: 0px;
    padding: 30px;
    font-size: medium;
}

header {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#Introduction {
    display: none;
    text-align: center;
    margin: 0px;
    background-color: white;

}

#Star-Cars-Photo-Gallery {
    display: none;
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: ;
    padding-top: 10px;
    padding-bottom: 10px;

}

